# Heart Disease Dataset
In this dataset, 5 heart datasets are combined over 11 common features which makes it the largest heart disease dataset available so far for research purposes. The five datasets used for its curation are:

- Cleveland
- Hungarian
- Switzerland
- Long Beach VA
- Statlog (Heart) Data Set.
This dataset consists of 1190 instances with 11 features. These datasets were collected and combined at one place to help advance research on CAD-related machine learning and data mining algorithms, and hopefully to ultimately advance clinical diagnosis and early treatment

## Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

C:\Users\hp\AppData\Local\Temp\ipykernel_36756\2346321470.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
df = pd.read_csv('heart_statlog_cleveland_hungary_final.csv')
df.head()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

## Data Cleaning
- remove duplicates
- deal with missing data
- correcting data types

In [15]:
df.shape

(1190, 12)

In [18]:
# checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 918 entries, 0 to 1189
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  918 non-null    int64
 1   sex                  918 non-null    int64
 2   chest pain type      918 non-null    int64
 3   resting bp s         918 non-null    int64
 4   cholesterol          918 non-null    int64
 5   fasting blood sugar  918 non-null    int64
 6   resting ecg          918 non-null    int64
 7   max heart rate       918 non-null    int64
 8   exercise angina      918 non-null    int64
 9   oldpeak              918 non-null    float64
 10  ST slope             918 non-null    int64
 11  target               918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 93.2 KB

In [3]:
# checking for missing data
df.isna().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [6]:
# checking for duplicates
df.duplicated().sum()

272

In [16]:
df = df.drop_duplicates().copy()

In [17]:
df.shape

(918, 12)

## Exploratory Data Analysis
- Data measures of centrality
- Value counts for data
- Checking if target is unbalanced
- Checking how features relate to each other and target

In [19]:
# data measures of centrality
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,918.0,53.510893,9.432617,28.0,47.00,54.0,60.0,77.0
sex,918.0,0.789760,0.407701,0.0,1.00,1.0,1.0,1.0
chest pain type,918.0,3.251634,0.931031,1.0,3.00,4.0,4.0,4.0
resting bp s,918.0,132.396514,18.514154,0.0,120.00,130.0,140.0,200.0
cholesterol,918.0,198.799564,109.384145,0.0,173.25,223.0,267.0,603.0
fasting blood sugar,918.0,0.233115,0.423046,0.0,0.00,0.0,0.0,1.0
resting ecg,918.0,0.603486,0.805968,0.0,0.00,0.0,1.0,2.0
max heart rate,918.0,136.809368,25.460334,60.0,120.00,138.0,156.0,202.0
exercise angina,918.0,0.404139,0.490992,0.0,0.00,0.0,1.0,1.0
oldpeak,918.0,0.887364,1.066570,-2.6,0.00,0.6,1.5,6.2
ST slope,918.0,1.636166,0.609341,0.0,1.00,2.0,2.0,3.0
target,918.0,0.553377,0.497414,0.0,0.00,1.0,1.0,1.0